<div class="container">
    <div class="row">
      <div class="col-xs-18 col-sm-6 col-md-3 offset-">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA2tAAAAJDllZWM0N2UxLWQ2NGItNDU5NS05NmZiLWJkOWM3NTYxYmU3Mw.jpg">
          <div class="caption">
            <h4>Christian Taggert</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!--row-->

    <div class="row">
      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAezAAAAJGNlMWUxNzcxLWNkNGUtNGNkYS1iZjM2LTcxMTk2ZjAzZjNiNQ.jpg">
          <div class="caption">
            <h4>Kevin Conrad</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAu7AAAAJGRjOWNjZDY5LTJkYWQtNDRhNC1iYmM5LTZmYzQzMzFlMjViZg.jpg">
          <div class="caption">
            <h4>Haley Kalb</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA0uAAAAJGNkNTZiMjM4LTZiMDYtNDRmZC1hMzQ3LTg4MWYyYTIyMmJkZA.jpg">
          <div class="caption">
            <h4>Derrick Jones</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-3 center-block">
      <div class="thumbnail">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAA2hAAAAJDM5MzI0YWIyLTFlYzItNDhmZS05MjMxLWJkM2VlYWY0YWI5NQ.jpg">
        <div class="caption">
          <h4>Garrick George</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
