<div class="container">
<div class="row">
  <div id="leftnav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeLeftNav()">&times;</a>


      <leftnavbar></leftnavbar>


  </div>
  <div id="rightnav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">&times;</a>


      <rightnavbar></rightnavbar>


  </div>
</div>
</div>

<!-- MAKE THIS APPEAR ON HOVER -->
<!-- template: `
<nav class="navbar navbar-default navbar-fixed-side">
<a ng-click="$ctrl.navBarProfile()">Profile</a>
<br>
<a ng-click="$ctrl.navBarPostures()">Postures</a>
<br>
<a ng-click="$ctrl.navBarSettings()">Settings</a>
<br>
<a ng-click="$ctrl.navBarSignOut()">Sign Out</a>
</nav>
` -->

<div class="container">
  <div class="row">
    <div class="leftnav" id="leftnav">
      <span onclick="openLeftNav()">Navigation</span>
    </div>
    <div class="rightnav" id="rightnav">
      <span onclick="openRightNav()">Navigation</span>
    </div>
  </div>
</div>

<!-- MAKE THIS APPEAR ON HOVER -->
<!-- template: `
<nav class="navbar navbar-default navbar-fixed-side">
<div class="image">
<a ng-click="$ctrl.navBarChakra1()"><h6>Standing Poses</h6><img src="/images/chakra1.png" alt="chakra1" width="30%"></a>
<a ng-click="$ctrl.navBarChakra2()"><h6>Hip Openers</h6><img src="/images/chakra2.png" alt="chakra2" width="30%"></a>
<a ng-click="$ctrl.navBarChakra3()"><h6>Twists</h6><img src="/images/chakra3.png" alt="chakra3" width="30%"></a>
<a ng-click="$ctrl.navBarChakra4()"><h6>Back Bends</h6><img src="/images/chakra4.png" alt="chakra4" width="30%"></a>
<a ng-click="$ctrl.navBarChakra5()"><h6>Forwards Bends</h6><img src="/images/chakra5.png" alt="chakra5" width="30%"></a>
<a ng-click="$ctrl.navBarChakra6()"><h6>Balance</h6><img src="/images/chakra6.png" alt="chakra6" width="30%"></a>
<a ng-click="$ctrl.navBarChakra7()"><h6>Inversions</h6><img src="/images/chakra7.png" alt="chakra7" width="30%"></a>
</div>
</nav>
` -->
