.profilePhoto{
  width:16em;
  height:16em;
  border-radius: 8em;
  border: 5px solid black;
  /*margin-right: -10em;*/
}
.userProfileBadges{
  width: 3em;
  height: 3em:
}
.badgeContainer{
  margin-top: -3em;
}
.userNameText{
  text-align: center;
  font-size: 3em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.dateJoinText{
  text-align: center;
}
