.posePhoto{
  width: 250px;
  height: 250px;

}
.chakraPhoto{
  height: 80px;
}
.poseName{
  text-align: center;
  font-size: 60px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.dificultyText{
  text-align: center;
  font-size: 30px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
